.cabeçalho {
    background-color:#386641;
    text-align: center;
    width: 100%;
}

.botao {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: right;
    color: white;
    background-color:#386641;
    margin: 0px 10px;
    text-decoration: none;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    color: #bc6c25;
}

ul {
    border: 2px solid #bc6c25;
    border-radius: 5px;
    width: 100px;
    
    
}

li {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}



.rodape {
    background-color:#bc6c25;
    color: white;
    display: block;
    width: 100%;
	height: auto;
    bottom: 0;
    position: fixed;
	text-align: center;
}

.icone {
    width: 40px;
    height: 40px;    
}

