* {
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

header {
    background-color: aquamarine;
    height:5em;
}

h1 {
    color:black;
    align-self: center;
    margin-left: 10px;
}


.busca {
    justify-content: flex-end;
    align-self: center;
}


.icone {
    width:auto;
    height:10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: auto;
}



