.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 80px;
}

.smallcard-container > img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container h4 {
    margin-right: 5px;
    align-self: center;
}

.smallcard-container > div {
    display: flex;
    justify-items: flex-start;
}